<div class="footer">
  <div class="footer__container">
    <div class="footer__container__column">
      <h5 class="footer__container__column__title">About Vattenfall</h5>
      <p>Vattenfall is a European energy company with approximately 21,000 employees. For more than 100 years we have
        electrified industries, supplied energy to people's homes and modernised our way of living through innovation
        and cooperation. We are working for fossil freedom.</p>
    </div>
  </div>
  <div class="footer__logo">
    <div class="footer__logo__image"></div>
  </div>
</div>
