@use "@angular/material" as mat;


$vma-mat-primary-palette: (
  50: #e4eef6,
  100: #bcd4e9,
  200: #90b8da,
  300: #639ccb,
  400: #4186c0,
  500: #2071b5,
  600: #1c69ae,
  700: #185ea5,
  800: #13549d,
  900: #0b428d,
  A100: #bdd5ff,
  A200: #8ab5ff,
  A400: #5795ff,
  A700: #3d85ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$vma-mat-secondary-palette: (
  50: #fffbe0,
  100: #fff4b3,
  200: #ffed80,
  300: #ffe54d,
  400: #ffe026,
  500: #ffda00,
  600: #ffd600,
  700: #ffd000,
  800: #ffcb00,
  900: #ffc200,
  A100: #ffffff,
  A200: #fffcf2,
  A400: #ffeebf,
  A700: #ffe7a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$vma-mat-tertiary-palette: (
  50: #fee7e3,
  100: #fdc4ba,
  200: #fc9d8c,
  300: #fb765d,
  400: #fa583b,
  500: #f93b18,
  600: #f83515,
  700: #f72d11,
  800: #f6260e,
  900: #f51908,
  A100: #ffffff,
  A200: #ffebea,
  A400: #ffbab7,
  A700: #ffa29d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$powerpuff-internship-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$powerpuff-internship-accent: mat.m2-define-palette(
  mat.$m2-pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$powerpuff-internship-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$powerpuff-internship-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $powerpuff-internship-primary,
      accent: $powerpuff-internship-accent,
      warn: $powerpuff-internship-warn,
    ),
    mat.m2-define-typography-config(
        $font-family: "Vattenfall Hall",
      )
      density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($powerpuff-internship-theme);

// font-sizes

h1 {
  font-size: 5.2rem;
  font-style: bold;
}

h2 {
  font-size: 3.8rem;
  line-height: 7.2rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
}

h5 {
  font-size: 1.2rem;
  font-weight: 700;
}
