// Colors
//

$red: #f93b18;
$light-red: #fef0ea;
$sollor-yellow: #ffda00;
$light-yellow: #fffee5;
$green: #3dc07c;
$ocean-blue: #2071b5;
$mid-blue: #1964a3;
$blue: #044882;
$dark-blue: #1e324f;
$light-blue: #edf1f6;
$gray-blue: #4b5b72;
$black: #000000;
$white: #ffffff;
$light-gray: #cccccc;
$gray: #c0c0c0;

// font-sizes
$font-base: 10px; // 1rem
$font-size-xs: 1.2rem;
$font-size-s: 1.6rem;
$font-size-m: 1.8rem;
$font-size-l: 2.4rem;
