<div class="carousel">
    <div class="carousel__container">
        <ng-container *ngFor="let img of elementsList; let i=index">
            <app-image [image]="img" [style]="ImageType.full" *ngIf="i == counter" lass="carousel__container__image"
                [imageWidth]="800" [imageHeight]="400"></app-image>
        </ng-container>
    </div>

    <div class="carousel__navigation">
        <button (click)="onPrevious()" class="carousel__navigation__arrow "> <img
                class="carousel__navigation__arrow__icon" src="assets/icons/arrow-left.svg" alt="Left arrow" /></button>
        <ng-container *ngFor="let img of images; let i=index">
            <div class="carousel__navigation__dot" [ngClass]="{'carousel__navigation__dot--filled' : i ===counter}">

            </div>
        </ng-container>
        <button (click)="onNext()" class="carousel__navigation__arrow "><img class="carousel__navigation__arrow__icon"
                src="assets/icons/arrow-right.svg" alt="Right arrow" />
        </button>

    </div>
</div>