<div class="image">
    <img class="image__image" [src]="image.imageContent" [alt]="image.name ? image.name : image.title"
        [width]="imageWidth" [height]="imageHeight" />
    <ng-container *ngIf="style == ImageType.full">
        <h3 class="image__title" *ngIf="style ==  ImageType.full">{{image.name ? image.name : image.title}}</h3>
        <p class="image__description" *ngIf="style == ImageType.full">{{image.description}}</p>
        <a class="image__more" href="reactors">Learn more </a>
    </ng-container>
</div>